<article class="panel" style="margin-bottom: 25px;">

	<h3><%= blog.title %></h3>
	<h6>Written by <%= @latest_profile.name %> on <%= blog.published.strftime("%b %d, %Y") %></h6>
	<hr />
	<%= simple_format blog.content %>  

</article>
